<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmpowerMe"
        tools:targetApi="31">
        <activity
            android:name=".EditProductAuccess"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Payments"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".OrderSuccsess"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Cart"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StoreDeleteSuccess"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ProductDeleteSuccess"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EditDeleteStoreActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EditproductSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".EditProductActivity"
            android:exported="false" />
        <activity
            android:name=".ProductEditDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".StoreAddSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".StoreRegistrationActivity"
            android:exported="false" />
         <activity
         android:name=".CreateStoreActivity"
         android:exported="false" />
        <activity
            android:name=".MoreProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".MarketplaceActivity"
            android:exported="false" />
        <activity
            android:name=".AddProductSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".ProductAddFormActivity"
            android:exported="false" />
        <activity
            android:name=".AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".RegSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".StartUpActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".MainActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>