<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmpowerMe"
        tools:targetApi="31">

<!--         <activity-->
<!--         android:name=".JobPostApplicationActivity"-->
<!--             android:exported="true" />-->

<!--        <activity-->
<!--            android:name=".AddJobActivity"-->
<!--            android:exported="true" />-->

        <activity
            android:name=".JobPostUpdateActivity"
            android:exported="true" />

<!--        <activity-->
<!--            android:name=".JobPortalActivity"-->
<!--            android:exported="true" />-->

<!--        <activity-->
<!--            android:name=".ApplicationActivity"-->
<!--            android:exported="true" />-->

<!--         <activity-->
<!--         android:name=".SubmitActivity"-->
<!--         android:exported="true" />-->

<!--        <activity-->
<!--            android:name=".ApplicantsActivity"-->
<!--            android:exported="true" />-->
<!--        <activity-->
<!--            android:name=".ApplicantsActivity"-->
<!--            android:exported="false" />-->
        <!-- <activity -->
        <!-- android:name=".activity_job_post_update" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".JPortalActivity" -->
        <!-- android:exported="false" /> -->

        <!-- <activity -->
        <!-- android:name=".SubmitActivity" -->
        <!-- android:exported="false" /> &lt;!&ndash; <activity &ndash;&gt; -->
        <!-- android:name=".AddJobActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".JobPostActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".ApplicationActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".SubmitActivity" -->
        <!-- android:exported="false" /> -->
         <activity
         android:name=".activity_job_overview"
        android:exported="true" />
<!--        <activity-->
<!--         android:name=".CloseJob"-->
<!--        android:exported="true"/>-->
        <!-- <activity -->
        <!-- android:name=".JobPostActivity" -->
        <!-- android:exported="true"> -->
        <activity
            android:name=".ApplicantsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>